<h1>New judgement</h1>

<% if @has_answer_param %>
  <%= render 'form' %>
<% else %>
  <p>You have a wrong answer target, please go back to answer list and rechoose.</p>
  <%= link_to 'Back to answers', answers_path %> |
<% end %>
<%= link_to 'Back to judgements', judgements_path %>

