<h2 class="ui dividing header">New answer</h2>

<% if @has_quiz_param && (@quiz.is_answer_repeat_by_user current_user.id) %>
  <p> You have already passed this quiz or your submit still being judgement. </p>
<% else %>
  <%= render 'form' %>
<% end %>
