<h3>Quizzes Bingo Grids</h3>

<p>
  Chose quiz and try to answer. After your correct-answer could be a line, you pass this chapter.
</p>
<table class="nine-grids">
  <tbody>
  <% @quizzes.each_with_index do |quiz, index| %>
    <%= cycle("<tr>", "", "", name: "begin").html_safe %>
      <td class="<%= @quiz_status[index] %>">
        <%= link_to(index+1, quiz_path(quiz)) %>
      </td>
    <%= cycle("", "", "</tr>", name: "end").html_safe %>
  <% end %>
  </tbody>
</table>
<div class="ui list">
  <div class="item" style="color: #5bbd72;">Green means the question is pass.</div>
  <div class="item" style="color: #bba624;">Yello means the question is queue or judgement.</div>
  <div class="item" style="color: #d95c5c;">Red means the question is reject or never answer it. Then, you can answer it.</div>
</div>
