<h3>Quizzes Bingo Grids</h3>

<p>
  Chose quiz and try to answer. After your correct-answer could be a line, you pass this chapter.
</p>
<table class="nine-grids">
  <tbody>
  <% @quizzes.each_with_index do |quiz, index| %>
    <% if index%3 == 0 %> <tr> <% end %>
      <% if @quiz_status[index] == 2 %>
        <td class="pass">
      <% elsif @quiz_status[index] == 1 %>
        <td class="judgement">
      <% elsif @quiz_status[index] == 0 %>
        <td class="fail">
      <% end %>
        <%= link_to index+1, quiz_path(quiz) %>
      </td>
    <% if index%3 == 2 %> </tr> <% end %>
  <% end %>
  </tbody>
</table>
<div class="ui list">
  <div class="item" style="color: #5bbd72;">Green means the question is pass.</div>
  <div class="item" style="color: #bba624;">Yello means the question is queue or judgement.</div>
  <div class="item" style="color: #d95c5c;">Red means the question is reject or never answer it. Then, you can answer it.</div>
</div>
