// Place all the styles related to the chapters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nine-grids {

  table {
    max-width: 300px !important;
  }
  td {
    border: 0 !important;
    text-align: center !important;
    width: 100px;
    height: 100px;
  }

  .fail {
    background-color: #d95c5c;
  }
  .fail:hover {
    background-color: #e96c6c;
  }

  .judgement {
    background-color: #e2c61f;
  }
  .judgement:hover {
    background-color: #f2d62f;
  }

  .pass {
    background-color: #5bbd72;
  }
  .pass:hover {
    background-color: #6bcd82;
  }

  td a {
      display:block;
      width:100%;
  }

  a {
    color: black;
    font-size: 72px;
  }
  a:hover {
    color: black;
  }
}
